# Log files
dx_run.log

# Dependency files
poetry.lock

# IDE files
.idea/

# Python cache files
filterbcf/__pycache__/
filterbcf/methods/__pycache__/
test/__pycache__/

# macOS files
.DS_Store

# Test files
test/reference.fasta
test/reference.fasta.fai
test/loftee_files
test/vep_caches